* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
button {
    cursor: pointer;
}
.navbars {
    position: sticky;
    top: 0;
}
.navbarOne {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-top: 1px solid #DBDCDD;
    overflow: hidden;
}
.navbarOne ul li {
    margin: 0;
    display: inline-block;
    padding: 7px 21px 7px 15px;
}
.navbarOne  li a {
    position: relative;
}
.navbarOne :first-child li {
    padding: 20px 21px 20px 15px;

}
.navbarOne .left > li:not(:first-child) > a::after {
    content: "";
    position: absolute;
    border-top: 6px solid black;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    top: 6px;
    bottom: 0;
    right: -10px;
    height: 100%;
}

.navbarOne  li a {
    text-decoration: none;
}

.favicon {
    font-weight: bold;
    color: #3cbd00;
}
.navbarOne .left li:first-child:hover a {
    color: #2b8800;
}


.navbarOne .left > li {
    cursor: pointer;
}
.navbarOne .left > li:not(:first-child) a {
    color: black;
}

.navbarOne .left > li:not(:first-child):hover a{
    color: white;
}

.navbarOne .left > li:not(:first-child):hover a::after{
    border-top: 6px solid white;
}
.navbarOne .left > li:not(:first-child):active a::after{
    content: " ";
    border-bottom: 6px solid rgb(255, 255, 255);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: none;
    position: absolute;
    top: -11px;
}


.navbarOne .left > li:not(:first-child):hover {
    background-color: #04AA6D;
}
.navbarOne .left > li:not(:first-child):active {
    background-color: black;
}

.navbarOne .right button {
    padding: 13px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: white;
}
.navbarOne .right :first-child button:hover {
    background-color: #F1F1F1;
}
.navbarOne .right .logins {
    width: 200px;
    /* padding: 20px 20px; */
    height: 80;
    position: relative;
    margin-right: -20px;
    margin-bottom: 12px;
}

.navbarOne .right :last-child .signup {
    padding: 13px 20px;
    color: white;
    background-color: #04AA6D;
    /* border-top-right-radius: 0; */
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    /* border-bottom-right-radius: 0; */
}

.navbarOne .right :last-child .login {
    position: absolute;
    padding: 13px 25px 13px 45px;
    color: black;
    top: 0;
    right: 40px;
    background-color: #D9E4E1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.navbarOne .right :last-child .signup:hover{
    background-color: #059862;
}

.navbarOne .right :last-child .login:hover {
    background-color: #059862;
    color: white;
}

/* nav bar two */
.navbarTwo ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;

}

.navbarTwo li {
    /* flex: 1; */
    text-align: center;
}
.navbarTwo ul li button {
    color: white;
    border: none;
    cursor: pointer;
    background-color: #282A35;
    padding: 10px 15.7px;
}
.navbarTwo ul li button:hover {
    background-color: black;
}

.front {
    width: 100%;
    padding: 120px 0 170px 0;
    text-align: center;
    background-color: #282A35;
}
.front h1 {
    font-size: 65px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.front p.frontPOne {
    color: #FFC0C7;
    font-weight: bold;
    font-size: 22px;
    margin: 22px 0;
    margin-bottom: 20px;
}

.front .search {
    width: 500px;
    box-sizing: border-box;
    margin: 35px auto;

}
.front .search input {
    display: inline-block;
    width: 400px;
    padding: 15px 20px;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    outline: none;
    font-weight: 600;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.front .search button {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    width: 95px;
    border: none;
    background-color: #04AA6D;
    color: white;
    padding: 15px 20px;
}
.front .search button:hover {
    background-color: #059862;
}

.front p.frontPTwo {
    color: white;
    text-decoration: underline;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}
.front p.frontPTwo:hover {
    color: #04AA6D;
}

.course {
    display: flex;
    padding: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.firstCourse {
    background-color: #D9EEE1;
}

.course button {
    display: block;
}

.course .leftOfCourse {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course .leftOfCourse h1 {
    font-size: 90px;
    font-weight: 700;
}
.course .leftOfCourse p {
    font-weight: bold;
    margin: 20px 0;
}
.course .leftOfCourse button {
    width: 205px;
    height: 43px;
    border-radius: 50px;
    margin: 12px 0;
    font-size: 15px;
    font-weight: bold;
    border: none;
    color: white;
    background-color: #04AA6D;
}
.course .leftOfCourse button.learnHtml {
    background-color: #04AA6D;
    color: white;
}
.course .leftOfCourse button.htmlTotorial {
    background-color: #FFF4A3;
    color: black;
}
.course .leftOfCourse button.htmlReference {
    background-color: #282A35;
    color: white;
}
.course .leftOfCourse button.certifyHtml {
    background-color: #FFC0C7;
    color: black;
}

.course .rightOfCourse {
    background-color: #E7E9EB;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(197, 197, 197);
    padding: 15px;
}
.course .rightOfCourse h3 {
    font-weight: 600;
    margin: 20px 0;
    font-size: 21px;
}
.course .rightOfCourse pre {
    background-color: white;
    width: 400px;
    border-left: 4px solid #04AA6D;
    font-size: 15px;
}
.course .rightOfCourse button.tiy {
    width: 200px;
    margin: 20px 0 0 0;
    height: 40px;
    border-radius: 50px;
    background-color: #04AA6D;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.course .rightOfCourse button.tiy:hover {
    background-color: #059862;
}
.tag {
   line-height: 23px;
}
.course .rightOfCourse .ltgt {
    color: blue;
}
.course .rightOfCourse .colorOfCode {
    color: brown;
}

.secondCourse {
    background-color: #FFF4A3;
}

.thirdCourse {
    background-color: #282A35;
}